body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 100;
    color: #333;
    background-color: #f4f4f4;
    margin-left: 260px;
}

h1, h2, h3 {
    text-align: center;
    color: #0056b3;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
h4 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #3f3f3f;
}

p {
    margin: 15px;
    padding: 10px;
    font-size: 18px;
    text-align: justify;
}

ul {
    list-style-type: square;
    margin: 20px;
    padding: 10px;
}

ul li {
    margin-bottom: 10px;
    
}
.about-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.foto {
    flex: 0 0 30%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}
.about-content {
    flex: 1;
    text-align: left;
}
.about-content h2 {
    text-align: left;

}
.col1, .col2 {
    flex: 1;
}
img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
}
.galerija {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}
.galerija img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
}
.galerija img:hover {
    transform: scale(1.05); 
    transition: transform 0.5s ease-in-out;
}
.link:hover {
    background-color: #ae16ea;
}
.row {
    display: flex;
    gap: 20px;
}
.Apie {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.EiS {
   margin-top: 10px;
   margin-bottom: 20px;
   text-align: left;
}
.numeris:hover {
    background-color: aquamarine;
}
.miestas {
    cursor: pointer;
}
.statistika {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    list-style: none;
}
.stats {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
}
.stats-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 2px solid #0056b3;
    transition: transform 0.5s ease-in-out;
}
.stats:hover .stats-icon {
    transform: scale(1.25);
}

.stats h3 {
    color: #0056b3;
    font-size: 24px;
    margin: 10px 0;
}
.stats p {
    color: #333;
    font-size: 16px;
    text-align: justify;
    word-spacing: normal;
}
.container {
    width: 60%;
    margin: 0 auto;
}
.įgūdis {
    margin-bottom: 20px;
}
.įgūdžio-pav {
    display: inline-block;
    width: 100%;
    font-weight: bold;
}
.bar-chart {
    display: inline-block;
    width: calc(100% - 150px);
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    vertical-align: middle;
}
.progress-bar {
    height: 20px;
    background-color: #00aaff;
    border-radius: 5px;
    transition: width 1s ease-in-out;
}
.reikšmė {
    display: inline-block;
    width: 50px;
    text-align: right;
    vertical-align: middle;
}
.Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.kairė-pusė, .dešinė-pusė {
    background-color: #fff;
    border-color: #0056b3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dark-mode body {
    background-color: #121212;
    color: #fff;
}
.dark-mode h1, .dark-mode h2, .dark-mode h3 {
    color: #bb86fc;
}
.dark-mode h4 {
    color:#8457b9;
}
.dark-mode .kairė-pusė, .dark-mode .dešinė-pusė {
    background-color: #333; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
button:hover {
    background: linear-gradient(45deg, #2f343a, #b2afaf); 
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

}
button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
button:active { 
    transform: scale(1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.mygtukas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    max-width: 300px;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
body.dark-mode a {
    color: #bb86fc;
}
body.dark-mode .mygtukas button {
    background-color: #333;
    color: #fff;
    border: 1px solid #929292;
}
body.dark-mode button:hover {
    background-color: #555;
    color: #ffffff
}
.service-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 20px;
    gap: 20px;
    
}
.service {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    padding-left: 50px;
    
}

.service-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #0056b3;

}
.service:hover .service-icon {
    color: #1ef0ad;
}
.dark-mode .service { 
    background-color: #333333; 
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); 
}
.dark-mode .service-icon {
    color: #bb86fc;
}
.pavadinimas {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.dark-mode .service-title { 
    color: #bb86fc; 
}
.mano-foto {
    width: 80%; 
    border-radius: 50%; 
    margin-bottom: 20px;
}
.dark-mode .stats-icon {
    border: 2px solid #bb86fc;
}
.header {
    display: flex;
    padding: 20px;
    background-color: #0056b3;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: auto;
}
.abb {
    width: 100px;
    height: auto;
}
.nav-bar {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.nav-bar a {
   display: block;
   color: white;
   margin: 10px 0;
   text-decoration: none;
}
.nav-bar:hover {
    color: #1ef0ad;
}
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) { .sidebar { width: 100%; /* Full width on smaller screens */ height: auto; /* Allow height to adjust based on content */ position: relative; /* Make it stack with the content */ } .main-content { margin-left: 0; /* Remove left margin to allow full width content */ } }
.dark-mode .sidebar p {
    color: #bb86fc;
}
.nav-bar a:hover {
    transform: scale(1.1);
}
.soc-medija i:hover{
    transform: scale(1.5);
}
.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
.soc-medija a {
    color: white;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
}
.cover {
    position: relative;
    text-align: center;
    color: white;
}
.cover-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%)
}
.cover-text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.cover-text h1 {
    font-size: 48px;
    margin: 0;
    color: white;
}
.cover-text p {
    font-size: 24px;
    margin: 10px 0 0;
}
.underline1 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.underline2 {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.underline1::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 80px;
    height: 3px;
    background-color: #0056b3;
}
.underline2::after {
    content: ''; 
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 0; width: 60px; 
    height: 2px; 
    background-color: #1ef0ad; 
}
.dark-mode .underline1::after {
    background-color: #bb86fc;
}
.dark-mode .underline2::after {
    background-color: #74d54d;
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99; 
    border: none;
    outline: none;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#scrollToTopBtn:hover {
    background-color: #1ef0ad;
}
.dark-mode #scrollToTopBtn {
    background-color: #bb86fc;    
}
.math-formula {
    border: 2px solid #000;
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: center;
    display: flex;
}
.svg {
    height: 100px;
    width: 100px;
}
#clock {
    font-size: 3rem;
    border: 2px solid #61dafb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #a7b0ba;
    display: flex;
    align-items: center;
    justify-content: center;
}